/* Global Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    padding: 30px;
    background: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 255, 150, 0.15), 0 4px 10px rgba(0, 255, 150, 0.2);
    border: 1px solid #333;
    transition: all 0.4s ease;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #00ff9d;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 600;
}

/* Tab Menüsü */
.tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab button {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #00ff9d;
    color: #0e0e0e;
}

.tab button.active {
    background-color: #00ff9d;
    color: #0e0e0e;
}

/* Tab İçerikleri */
.tabcontent {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.tabcontent.active {
    display: block;
    opacity: 1;
}

.input-container {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #00ff9d;
    box-shadow: 0 0 10px rgba(0, 255, 150, 0.3);
}

button {
    width: 100%;
    background-color: #00ff9d;
    color: #0e0e0e;
    padding: 12px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #00e691;
    box-shadow: 0 8px 20px rgba(0, 255, 150, 0.3);
}

button:active {
    transform: translateY(2px);
}

textarea {
    height: 120px;
    resize: none;
    transition: box-shadow 0.3s ease;
}

textarea#outputTextEncrypt, textarea#outputTextDecrypt {
    height: 150px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    resize: none;
    color: #e0e0e0;
    font-size: 14px;
    padding: 12px;
}

::placeholder {
    color: #888;
}
.header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.header-icon {
    width: 80px; /* Boyutu istediğiniz gibi değiştirebilirsiniz */
    height: auto;
    margin-bottom: 15px;
}
